@model Entity.Hrm.Maternity

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="row padding-bottom-0">
                    <div class="col-md-3">
                        <label>Mã nhân viên(*)</label>
                    </div>
                    <div class="col-md-9">
                        <input type="hidden" value="@Model.EmployeeId" class="form-control" id="EmployeeId" />
                        <input readonly="readonly" type="text" value="@Model.EmployeeCode @Model.FullName" class="form-control" id="EmployeeCode" />
                        <button class="btn btn-primary btn-xs" id="ModalEmployee" style="position: absolute; top: 1.5px; right: 15px; height: 20px;">
                            <i class="glyphicon glyphicon-search"></i>
                            Tìm Kiếm
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>Làm việc từ (*)</label>
            </div>
            <div class="col-md-9">
                <input type="text" class="form-control" value="@Model.StartTime" id="StartTime" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>Làm việc đến (*)</label>
            </div>
            <div class="col-md-9">
                <input type="text" class="form-control" value="@Model.EndTime" id="EndTime" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>Nghỉ từ (*)</label>
            </div>
            <div class="col-md-9">
                <input type="text" class="form-control" value="@Model.RelaxStartTime" id="RelaxStartTime" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>Nghỉ đến (*)</label>
            </div>
            <div class="col-md-9">
                <input type="text" class="form-control" value="@Model.RelaxEndTime" id="RelaxEndTime"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>Từ ngày (*)</label>
            </div>
            <div class="col-md-9">
                <input type="text" class="form-control" value="@Model.FromDate" id="FromDate"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>Đến ngày(*)</label>
            </div>
            <div class="col-md-9">
                <input type="text" class="form-control" value="@Model.ToDate" id="ToDate" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>Ghi chú</label>
            </div>
            <div class="col-md-9">
                <textarea id="Description" class="form-control" rows="2">@Model.Description</textarea>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default window-footer">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12 text-right">
                <button class="btn btn-primary" id="btnSave">
                    <i class="glyphicon glyphicon-floppy-saved"></i>
                    Lưu
                </button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var maternityId = '@Model.MaternityId';
    var createBy = '@Model.CreateBy';
    var createDate = '@Model.CreateDate';

</script>
<script src="~/Areas/Hrm/JsAction/Maternity/addOrEdit.js"></script>



