
@{
    ViewBag.Title = "Kế hoạch tuyển dụng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-default">
    <div class="panel-heading">@ViewBag.Title</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="box-action">
                    <div class="row padding-bottom-0">
                        <div class="col-md-6">
                            <button class="btn btn-primary btn-sm" id="btnCreate">
                                <i class="glyphicon glyphicon-plus"></i>
                                Thêm
                            </button>
                            <button class="btn btn-primary btn-sm" id="btnEdit">
                                <i class="glyphicon glyphicon-edit"></i>
                                Sửa
                            </button>
                            <button class="btn btn-primary btn-sm" id="btnDelete">
                                <i class="glyphicon glyphicon-trash"></i>
                                Xóa
                            </button>
                        </div>
                        <div class="col-md-6">
                            <div class="row padding-bottom-0">
                                <div class="col-md-4">
                                    <input type="text" style="height: 28px" value="@DateTime.Now.AddDays(-15).ToString("dd/MM/yyyy")" id="FilterFrom" />
                                </div>
                                <div class="col-md-4">
                                    <input type="text" style="height: 28px" value="@DateTime.Now.ToString("dd/MM/yyyy")" id="FilterTo" />
                                </div>
                                <div class="col-md-4">
                                    <button class="btn btn-primary btn-sm" id="btnSearch">
                                        <i class="glyphicon glyphicon-search"></i>
                                        Tìm kiếm
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="grdMain"></div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        var users = @Html.Raw(Json.Encode(ViewBag.Users));
        var recruitChanels = @Html.Raw(Json.Encode(ViewBag.RecruitChanels));
        var departments = @Html.Raw(Json.Encode(ViewBag.Departments));
        var positions = @Html.Raw(Json.Encode(ViewBag.Positions));
    </script>
    <script src="~/Areas/Hrm/JsAction/RecruitPlan/index.js"></script>
}

