@model Entity.System.Gmail

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                <label>Tài khoản (*)</label>
            </div>
            <div class="col-md-9">
                <input type="text" class="form-control" value="@Model.FullName" id="FullName" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>Nhân viên (*)</label>
            </div>
            <div class="col-md-9">
                <input type="text" class="form-control" value="@Model.UserId" id="UserId" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>Ghi chú</label>
            </div>
            <div class="col-md-9">
                <textarea id="Description" class="form-control" rows="2">@Model.Description</textarea>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default window-footer">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12 text-right">
                <button class="btn btn-primary" id="btnSave">
                    <i class="glyphicon glyphicon-floppy-saved"></i>
                    Lưu
                </button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    @*var users = @Html.Raw(Json.Encode(ViewBag.Users));*@
    var id = '@Model.Id';
</script>
<script src="~/Areas/System/JsAction/Gmail/addOrEdit.js"></script>


