@model Entity.System.Gmail

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                <label>Tài khoản (*)</label>
            </div>
            <div class="col-md-9">
                <input type="text" class="form-control" value="@Model.FullName" id="FullName" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>Nhân viên tạo</label>
            </div>
            <div class="col-md-9">
                <input type="text" class="form-control" value="@Model.CreateUser" id="CreateUser" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>Nhân viên gỡ</label>
            </div>
            <div class="col-md-9">
                <input type="text" class="form-control" value="@Model.RemoveUser" id="RemoveUser" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>NV List hàng</label>
            </div>
            <div class="col-md-9">
                <input type="text" class="form-control" value="@Model.ListtingUser" id="ListtingUser" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>NV Order</label>
            </div>
            <div class="col-md-9">
                <input type="text" class="form-control" value="@Model.OrderUser" id="OrderUser" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>Đường dẫn</label>
            </div>
            <div class="col-md-9">
                <textarea id="LinkUrl" style="height: 50px !important;min-height: 30px !important;" class="form-control" rows="1">@Model.LinkUrl</textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>Ghi chú</label>
            </div>
            <div class="col-md-9">
                <textarea id="Description" style="height: 50px !important;min-height: 30px !important;" class="form-control" rows="2">@Model.Description</textarea>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default window-footer">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12 text-right">
                <button class="btn btn-primary" id="btnSave">
                    <i class="glyphicon glyphicon-floppy-saved"></i>
                    Lưu
                </button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    @*var users = @Html.Raw(Json.Encode(ViewBag.Users));*@
    var id = '@Model.Id';
</script>
<script src="~/Areas/System/JsAction/Gmail/addOrEdit.js"></script>


