@model Entity.Kpi.WorkDetail
<style>
    .k-checkbox-label:before {
        top: 5px;
    }

    .k-radio:checked + .k-radio-label:after {
        top: 8px;
    }

    .k-radio-label:before {
        top: 5px;
    }
</style>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="row padding-bottom-0">
                    <div class="col-md-4">
                        <label>Mã công việc -Tên công việc</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" value="@Model.TaskCode - @Model.TaskName" readonly="readonly" id="TaskName" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row padding-bottom-0">
                    <div class="col-md-4">
                        <label>Ngày thực hiện</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" readonly="readonly" value="@Model.FromDate.ToString("dd/MM/yyyy") - @Model.ToDate.ToString("dd/MM/yyyy")" class="form-control" id="Date" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row padding-bottom-0">
                    <div class="col-md-4">
                        <label>Giờ làm việc hữu ích quy định</label>
                    </div>
                    <div class="col-md-8">

                        <input type="text" readonly="readonly" value="@Model.UsefulHoursTask" id="UsefulHoursTask" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row padding-bottom-0">
                    <div class="col-md-4">
                        <label>Giờ làm việc hữu ích thực tế</label>
                    </div>
                    <div class="col-md-8">

                        <input type="text" readonly="readonly" value="@Model.UsefulHours" id="UsefulHours" />
                        <input type="hidden" value="" class="form-control" id="Explanation" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row padding-bottom-0">
                    <div class="col-md-4">
                        <label>Trạng Thái</label>
                    </div>
                    <div class="col-md-8">
                        @if (Model.Status == 2)
                        {
                            <input value="1" class="k-radio" id="resume" type="radio" name="optradio" checked="checked">
                            <label for="resume" class="k-radio-label">Đang thực hiện</label>
                        }
                        @if (Model.Status == 3)
                        {
                            <input value="2" class="k-radio" id="finish" type="radio" name="optradio" checked="checked">
                            <label for="finish" class="k-radio-label">Đã hoàn thành</label>
                        }@if (Model.Status == 5)
                        {
                            <input value="3" class="k-radio" id="nofinish" type="radio" name="optradio" checked="checked">
                            <label for="nofinish" class="k-radio-label">Chưa hoàn thành</label>
                        }
                        @if (Model.Status == 4)
                        {
                            <input value="3" class="k-radio" id="approved" type="radio" name="optradio" checked="checked">
                            <label for="approved" class="k-radio-label">Đã xác nhận</label>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="grdMainWorkingNote" event-dbclick="1"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="grdMainExplanation" event-dbclick="1"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var workingNotes = @Html.Raw(Json.Encode(ViewBag.WorkingNotes));
    var explanations = @Html.Raw(Json.Encode(ViewBag.Explanations));
</script>
<script src="~/Areas/Hrm/JsAction/Kpi/ManagerConfirm/cancelFinish.js"></script>






