@{
    ViewBag.Title = "Trưởng phòng HCNS xác nhận hoàn thành công việc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    .k-radio:checked + .k-radio-label:after {
        top: 7px;
        margin-left: -1px;
    }

    .k-radio-label:before {
        top: 5px;
    }
</style>
<div class="panel panel-default">
    <div class="panel-heading">@ViewBag.Title</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="box-action">
                    <div class="row padding-bottom-0">
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-2">
                                    <input type="text" id="FromDateSearch" class="form-control" value="@DateTime.Now.AddDays(-5).ToString("dd/MM/yyyy")" style="height: 28px;" />
                                    <input type="hidden" value="3" id="Action" class="form-control" />

                                </div>
                                <div class="col-md-2">
                                    <input type="text" id="ToDateSearch" class="form-control" value="@DateTime.Now.AddDays(+5).ToString("dd/MM/yyyy")" style="height: 28px;" />
                                </div>
                                <div class="col-md-2">
                                    <button class="btn btn-primary btn-sm" id="btnSearchDate">
                                        <i class="fa fa-search"></i>
                                        Tìm kiếm
                                    </button>
                                </div>
                                <div class="col-md-6">
                                    <button class="btn btn-primary btn-sm" id="btnEdit">
                                        <i class="fa fa-edit"></i>
                                        Chi tiết công việc
                                    </button>
                                    <button class="btn btn-primary btn-sm" id="btnEditAll">
                                        <i class="fa fa-edit"></i>
                                        Xác nhận hoàn thành
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <input value="3" class="k-radio" id="needapprove" type="radio" name="status" checked="checked">
                            <label for="needapprove" class="k-radio-label">Cần xác nhận</label>
                            <input value="4" id="approved" class="k-radio" type="radio" name="status">
                            <label for="approved" class="k-radio-label">Đã xác nhận</label>
                            <input value="5" id="cancel" class="k-radio" type="radio" name="status">
                            <label for="cancel" class="k-radio-label">Chưa hoàn thành</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="grdMain" event-dbclick="1"></div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        var departments = @Html.Raw(Json.Encode(ViewBag.Departments));
        var statusWorkPlanDetail =  @Html.Raw(Json.Encode(ViewBag.WorkDetailStatusEnum));
        var statusWorkDetail = @Html.Raw(Json.Encode(ViewBag.StatusWorkDetail));
        var workPointType    = @Html.Raw(Json.Encode(ViewBag.WorkPointType));
    </script>
    <script src="~/Areas/Hrm/JsAction/Kpi/ManagerConfirm/index.js"></script>
}
