@model Entity.System.GmailReg

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <label>Gmail Reg TK Amazon(*)</label>
            </div>
            <div class="col-md-8">
                <input type="text" class="form-control" value="@Model.GmailId" id="GmailId" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label>Password(*)</label>
            </div>
            <div class="col-md-8">
                <input type="text" class="form-control" value="@Model.Password" id="Password" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label>Mail khôi phục</label>
            </div>
            <div class="col-md-8">
                <input type="text" class="form-control" value="@Model.GmailRestoreId" id="GmailRestoreId" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label>Ghi chú</label>
            </div>
            <div class="col-md-8">
                <textarea id="Description" class="form-control" rows="2">@Model.Description</textarea>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default window-footer">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12 text-right">
                <button class="btn btn-primary" id="btnSave">
                    <i class="glyphicon glyphicon-floppy-saved"></i>
                    Lưu
                </button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var id = '@Model.GmailRegId';
</script>
<script src="~/Areas/System/JsAction/GmailReg/addOrEdit.js"></script>


