@model Entity.Sale.PoPayment
<style>
    .k-checkbox-label:before {
        top: 5px;
    }
</style>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="row padding-bottom-0">
                    <div class="col-md-4">
                        <label>Ngày giao dịch(*)</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" value="@Model.TradingDate.ToString("dd/MM/yyyy")" class="form-control" id="TradingDate" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row padding-bottom-0">
                    <div class="col-md-4">
                        <label>Số tiền (USD) (*)</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" value="@Model.MoneyNumber" class="form-control" id="MoneyNumber" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="row padding-bottom-0">
                    <div class="col-md-4">
                        <label>Tỷ lệ(*)</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" value="@Model.RateMoney" class="form-control" id="RateMoney" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row padding-bottom-0">
                    <div class="col-md-4">
                        <label>Trạng thái(*)</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" value="@Model.Status" class="form-control" id="Status" />
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="panel panel-default window-footer">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12 ">
                <button class="btn btn-primary" id="btnSave" style="float: right">
                    <i class="glyphicon glyphicon-floppy-saved"></i>
                    Lưu
                </button>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var poPaymentId = '@Model.PoPaymentId';
</script>
<script src="~/Areas/Sale/JsAction/PoPayment/addOrEdit.js"></script>




