@model Entity.Kpi.SuggesWork
<style>
    .k-checkbox-label:before {
        top: 5px;
    }
</style>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="row padding-bottom-0">
                    <div class="col-md-4">
                        <label>Tên công việc(*)</label>
                    </div>
                    <div class="col-md-8">
                        <input type="hidden" value="@Model.TaskId" id="TaskId"/>
                        <input type="text" class="form-control" value="@Model.TaskName" readonly="readonly" id="TaskName" placeholder="Mã công việc, tên công việc ...."/>
                        <button class="btn btn-primary btn-xs" id="ModalTaskId"  style="position: absolute; top: 1.5px; right: 15px; height: 20px;">
                            <i class="glyphicon glyphicon-search"></i>
                            Tìm Kiếm
                        </button>
                    </div>
                </div>
            </div>
        </div>    
        <div class="row">
            <div class="col-md-12">
                <div class="row padding-bottom-0">
                    <div class="col-md-4">
                        <label>Ngày bắt đầu (*)</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" value="@Model.FromDate.ToString("dd/MM/yyyy")" class="form-control" id="FromDate" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row padding-bottom-0">
                    <div class="col-md-4">
                        <label>Ngày hoàn thành(*)</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" value="@Model.ToDate.ToString("dd/MM/yyyy")" class="form-control" id="ToDate"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row padding-bottom-0">
                    <div class="col-md-4">
                        <label>Mô tả</label>
                    </div>
                    <div class="col-md-8">
                        <textarea type="text" value="@Model.Description" rows="3" class="form-control" id="Description"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row padding-bottom-0">
                    <div class="col-md-4">
                        <label>Số lượng (*)</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" value="@Model.Quantity" class="form-control" id="Quantity"/>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default window-footer">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12 ">
                <button class="btn btn-primary" id="btnSave"  style="float: right">
                    <i class="glyphicon glyphicon-floppy-saved"></i>
                    Lưu
                </button>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var suggesWorkId = '@Model.SuggesWorkId';
    var status = '@Model.Status';
    var createBy = '@Model.CreateBy';
    var createDate = '@Model.CreateDate';
</script>
<script src="~/Areas/Hrm/JsAction/Kpi/SuggesWork/addOrEdit.js"></script>



