
@model Entity.Hrm.RecruitResultDetail
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3" title="Người phỏng vấn">
                <label>Người PV (*)</label>
            </div>
            <div class="col-md-9">
                <input type="text" class="form-control" value="@Model.EmployeeId" id="EmployeeIdDetail" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>Kết quả (*)</label>
            </div>
            <div class="col-md-9">
                <input type="text" class="form-control" value="@Model.Result" id="ResultDetail"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3" title="Ngày phỏng vấn">
                <label>Ngày PV (*)</label>
            </div>
            <div class="col-md-9">
                <input type="text" class="form-control" value="@Model.InterviewDate.ToString("dd/MM/yyyy")" id="InterviewDate" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>Ghi chú</label>
            </div>
            <div class="col-md-9">
                <textarea id="DescriptionDetail" class="form-control" rows="3">@Model.Description</textarea>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default window-footer">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12 text-right">
                <button class="btn btn-primary" id="btnSaveResult">
                    <i class="glyphicon glyphicon-floppy-saved"></i>
                    Lưu
                </button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var recruitResultDetailId = '@Model.RecruitResultDetailId';
    $(document).ready(function() {
        $('#EmployeeIdDetail').kendoDropDownList({
            dataTextField: "text",
            dataValueField: "value",
            dataSource: employees,
            filter: 'startswith',
            optionLabel:' '
        });
        $('#ResultDetail').kendoDropDownList({
            dataTextField: "text",
            dataValueField: "value",
            dataSource: recruitResults
        });
        $('#InterviewDate').kendoDatePicker({ format: '{0:dd/MM/yyyy}',dateInput:true });
        $('#btnSaveResult').click(function() {
            var model = {
                RecruitResultDetailId: recruitResultDetailId,
                EmployeeId: $('#EmployeeIdDetail').data('kendoDropDownList').value(),
                Result: $('#ResultDetail').data('kendoDropDownList').value(),
                InterviewDate: $('#InterviewDate').data('kendoDatePicker').value(),
                Description: $('#DescriptionDetail').val()
            };
            if (model.EmployeeId == null || model.EmployeeId.trim() === "") {
                $.msgBox({
                    title: "Hệ thống",
                    type: "error",
                    content: "Bạn chưa chọn người phỏng vấn!",
                    buttons: [{ value: "Đồng ý" }]
                });
                return;
            }
            if (model.Result == null || model.Result.trim() === "") {
                $.msgBox({
                    title: "Hệ thống",
                    type: "error",
                    content: "Bạn chưa chọn kết quả!",
                    buttons: [{ value: "Đồng ý" }]
                });
                return;
            }
            if (model.InterviewDate == null) {
                $.msgBox({
                    title: "Hệ thống",
                    type: "error",
                    content: "Bạn chưa chọn ngày phỏng vấn!",
                    buttons: [{ value: "Đồng ý" }]
                });
                return;
            }
            $('#processing').show();
            $.ajax({
                type: 'POST',
                url: '/hrm/RecruitResult/SaveRecruitResultDetail',
                data: JSON.stringify({ model: model }),
                contentType: 'application/json;charset=utf-8',
                success: function (response) {
                    $('#processing').hide();
                    if (response.Status === 0) {
                        $.msgBox({
                            title: "Hệ thống",
                            type: "error",
                            content: response.Message,
                            buttons: [{ value: "Đồng ý" }]
                        });
                    } else {
                        $.msgBox({
                            title: "Hệ thống",
                            type: "info",
                            content: response.Message,
                            buttons: [{ value: "Đồng ý" }],
                            success:function() {
                                CloseChildWindowModal();
                                GridCallback('#grdRecruitResultDetails');
                            }
                        });
                    }
                }
            });
        });
    });
</script>




