@model Entity.Hrm.RecruitResult
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <div class="row padding-bottom-0">
                    <div class="col-md-4">
                        <label>Kế hoạch (*)</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" readonly="" class="form-control" id="RecruitPlanCode" value="@Model.RecruitPlanCode"/>
                        <input type="hidden" id="RecruitPlanId" value="@Model.RecruitPlanId"/>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row padding-bottom-0">
                    <div class="col-md-4">
                        <label>Ứng viên (*)</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" readonly="readonly" id="FullName" value="@Model.FullName"/>
                        <input type="hidden" id="ApplicantId" value="@Model.ApplicantId"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row padding-bottom-0">
                    <div class="col-md-4">
                        <label>Kết quả (*)</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="Result" value="@Model.Result" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row padding-bottom-0">
                    <div class="col-md-4" title="Người quyết định">
                        <label>Người QĐ (*)</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="EmployeeId" value="@Model.EmployeeId" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label>Ghi chú</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <textarea class="form-control" id="Description" rows="2">@Model.Description</textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box-action">
                    <button class="btn btn-primary btn-xs" id="btnCreateResult">
                        <i class="glyphicon glyphicon-plus"></i>
                        Thêm
                    </button>
                    <button class="btn btn-primary btn-xs" id="btnEditResult">
                        <i class="glyphicon glyphicon-edit"></i>
                        Sửa
                    </button>
                    <button class="btn btn-primary btn-xs" id="btnDeleteResult">
                        <i class="glyphicon glyphicon-trash"></i>
                        Xóa
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="grdRecruitResultDetails"></div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default window-footer">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12 text-right">
                <button class="btn btn-primary" id="btnSave">
                    <i class="glyphicon glyphicon-floppy-saved"></i>
                    Lưu
                </button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var recruitResultId = '@Model.RecruitResultId';
</script>
<script src="~/Areas/Hrm/JsAction/RecruitResult/addOrEdit.js"></script>







