@model Entity.Kpi.KpiConfig
@{
    ViewBag.Title = "CẤU HÌNH KPI";
    ViewBag.Title2 = "CẤU HÌNH TIÊU CHÍ ĐÁNH GIÁ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-default">
    <div class="panel-heading">@ViewBag.Title</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <div class="row padding-bottom-0">
                    <div class="col-md-6">
                        <label>Giờ hữu ích tối thiểu(*)</label>
                    </div>
                    <div class="col-md-6">
                        <input  value="@Model.MinHours" class="form-control" id="MinHours"/>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row padding-bottom-0">
                    <div class="col-md-6">
                        <label>Giờ hữu ích tối đa(*)</label>
                    </div>
                    <div class="col-md-6">
                        <input  value="@Model.MaxHours" class="form-control" id="MaxHours"/>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row padding-bottom-0">
                    <div class="col-md-6">
                        <label>Tỉ lệ % thông báo công việc </label>
                    </div>
                    <div class="col-md-6">
                        <input  value="@Model.Notification" class="form-control" id="Notification" />
                    </div>
                </div>
            </div>  
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="row padding-bottom-0">
                    <div class="col-md-6" title="Giờ thông báo xác nhận công việc hoàn thành">
                        <label>Giờ xác nhận hoàn thành(*)</label>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" value="@Model.HourConfirmMin" class="form-control" id="HourConfirmMin" />
                            </div>
                            <div class="col-md-6">
                                <input type="text" value="@Model.HourConfirmMax" class="form-control" id="HourConfirmMax" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row padding-bottom-0">
                    <div class="col-md-6" title="Thời gian thông báo lập kế hoạch công việc cho tuần tiếp theo từ giờ - đến giờ">
                        <label>Giờ lập kế hoạch(*)</label>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" value="@Model.PlanningHourMin" class="form-control" id="PlanningHourMin"/>
                            </div>
                            <div class="col-md-6">
                                <input type="text" value="@Model.PlanningHourMax" class="form-control" id="PlanningHourMax"/>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row padding-bottom-0">
                    <div class="col-md-6">
                        <label>Ngày lập kế hoạch(*)</label>
                    </div>
                    <div class="col-md-6"><input value="@Model.PlanningDay" class="form-control" id="PlanningDay"/>
                    </div>
                </div>
            </div>


        </div>

    </div>
</div>
<div class="panel panel-default window-footer">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12 ">
                <button class="btn btn-primary" id="btnSave" style="float: right">
                    <i class="glyphicon glyphicon-floppy-saved"></i>
                    Lưu
                </button>

            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">HỆ SỐ NĂNG SUẤT LAO ĐỘNG</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div id="grdMainFactor"></div>
            </div>
        </div>
    </div>
</div>
<style>
    .form-control.k-widget {
        width: 100% !important;
    }
</style>
@section scripts
{
    <script type="text/javascript">
        var kpiConfigId = @Model.KpiConfigId;
        var dayNum = @Html.Raw(Json.Encode(ViewBag.DayNum));
    </script>
<script src="~/Areas/System/JsAction/Kpi/KpiConfig/index.js"></script>
}