@{
    ViewBag.Title = "Quản lý ngày nghỉ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .k-radio:checked + .k-radio-label:after {
        top: 7px;
        margin-left: -1px;
    }

    .k-radio-label:before {
        top: 5px;
    }
</style>
<div class="panel panel-default">
    <div class="panel-heading">@ViewBag.Title</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">
                <div class="box-action">
                    <button class="btn btn-primary btn-sm" id="btnCreate">
                        <i class="fa fa-plus"></i>
                        Thêm
                    </button>
                    <button class="btn btn-primary btn-sm" id="btnEdit">
                        <i class="fa fa-edit"></i>
                        Sửa
                    </button>
                    <button class="btn btn-primary btn-sm" id="btnDelete">
                        <i class="fa fa-edit"></i>
                        Xóa
                    </button>

                </div>
            </div>
            <div class="col-md-10">
                <div class="col-md-2">
                    <input type="text" value="@DateTime.Now.AddMonths(-2).ToString("dd/MM/yyy")" class="form-control" id="FromDateSearch" style="height: 25px;"/>
                </div>
                <div class="col-md-2">
                    <input type="text" value="@DateTime.Now.AddMonths(+1).ToString("dd/MM/yyy")" class="form-control" id="ToDateSearch" style="height: 25px;"/>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-primary btn-sm" id="btnSearchDate">
                        <i class="glyphicon glyphicon-search"></i>
                        Tìm kiếm
                    </button>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="grdMain" event-dbclick="1"></div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        var holidayReason = @Html.Raw(Json.Encode(ViewBag.HolidayReason));
        var departments   = @Html.Raw(Json.Encode(ViewBag.Departments));
    </script>
    <script src="~/Areas/Hrm/JsAction/EmployeeHoliday/index.js"></script>
}
