
@model Entity.Kpi.WorkPlan
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-3">
                        <label>Mã kế hoạch</label>
                    </div>
                    <div class="col-md-9">
                        <input type="text" value="@Model.WorkPlanCode" readonly="readonly" id="WorkPlanCode" class="form-control"/>
                    </div>
                </div>
                </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-3">
                        <label>  Ngày bắt đầu</label>
                    </div>
                    <div class="col-md-9">
                        <input type="text"  readonly="readonly" class="form-control" value="@Model.FromDate.ToString("dd/MM/yyyy")" id="FromDate"/>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-4">
                        <label> Ngày hoàn thành</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text"  readonly="readonly"  class="form-control" value="@Model.ToDate.ToString("dd/MM/yyyy")" id="ToDate" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <textarea class="form-control" readonly="readonly" rows="3" id="Description" placeholder="Mô tả công việc...." style="min-height: 60px">@Model.Description</textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="grdWorkPlanDetail" event-dbclick="1"></div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default window-footer">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12 text-right">
                <button @if (Model.ApprovedBy !=null)
                        {<text>disabled="disabled"</text>} class="btn btn-primary" id="btnApproved">
                    <i class="glyphicon glyphicon-floppy-saved"></i>
                    Duyệt
                </button>
                <button @if (Model.ApprovedBy == null ) { <text> disabled="disabled" </text> } class="btn btn-primary" id="btnCancel">
                    <i class="glyphicon glyphicon-floppy-saved"></i>
                    Hủy Duyệt
                </button>

            </div>
        </div>
    </div>
</div>
<style> 
</style>
<script type="text/javascript">
    var workPlanId = '@Model.WorkPlanId';
    var workPlanDetails = @Html.Raw(Json.Encode(ViewBag.WorkPlanDetails));
</script>
<script src="~/Areas/Hrm/JsAction/Kpi/ManagerAdmin/addOrEdit.js"></script>


