@model Entity.Hrm.Insurance
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                <label>Số bảo hiểm (*)</label>
            </div>
            <div class="col-md-9">
                <input type="text" value="@Model.InsuranceNumber" id="InsuranceNumber" class="form-control"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>Ngày tham gia (*)</label>
            </div>
            <div class="col-md-9">
                <input type="text" class="form-control" id="SubscriptionDate" value="@Model.SubscriptionDate.ToString("dd/MM/yyyy")"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>Tháng trước đó (*)</label>
            </div>
            <div class="col-md-9">
                <input type="text" id="MonthBefore" value="@Model.MonthBefore"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>Nơi đăng ký (*)</label>
            </div>
            <div class="col-md-9">
                <input type="text" value="@Model.CityId" id="CityId" class="form-control"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>Ghi chú</label>
            </div>
            <div class="col-md-9">
                <textarea rows="3" class="form-control" id="Description">@Model.Description</textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-9">
                <input type="checkbox" class="k-checkbox" id="IsActive" @if (Model.IsActive) { <text> checked="checked" </text>     } />
                <label for="IsActive" class="k-checkbox-label">Theo dõi</label>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default window-footer">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12 text-right">
                <button class="btn btn-primary" id="btnSave">
                    <i class="glyphicon glyphicon-floppy-saved"></i>
                    Lưu
                </button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var insuranceId = '@Model.InsuranceId';
</script>
<script src="~/Areas/Hrm/JsAction/Insurance/addOrEdit.js"></script>



