@model Entity.Hrm.Applicant
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <div class="row padding-bottom-0">
                    <div class="col-md-4">
                        <label>Họ tên (*)</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="FullName" value="@Model.FullName"/>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row padding-bottom-0">
                    <div class="col-md-4">
                        <label>Giới tính (*)</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="Sex" value="@Model.Sex"/>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row padding-bottom-0">
                    <div class="col-md-4">
                        <label>Ngày sinh (*)</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="DateOfBirth" value="@Model.DateOfBirth.ToString("dd/MM/yyyy")"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="row padding-bottom-0">
                    <div class="col-md-4">
                        <label>Kế hoạch (*)</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="RecruitPlanId" value="@Model.RecruitPlanId"/>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row padding-bottom-0">
                    <div class="col-md-4">
                        <label>Kênh (*)</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="ChanelId" value="@Model.ChanelId"/>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row padding-bottom-0">
                    <div class="col-md-4">
                        <label>Ngày nộp</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="CvDate" value="@Model.CvDate.ToString("dd/MM/yyyy")"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="row padding-bottom-0">
                    <div class="col-md-4">
                        <label>Điện thoại (*)</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="PhoneNumber" value="@Model.PhoneNumber" />
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row padding-bottom-0">
                    <div class="col-md-4">
                        <label>Nơi sinh (*)</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="CityBirthPlace" value="@Model.CityBirthPlace"/>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row padding-bottom-0">
                    <div class="col-md-4">
                        <label>Trình độ (*)</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="TrainingLevelId" value="@Model.TrainingLevelId"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="row padding-bottom-0">
                    <div class="col-md-4">
                        <label>Quốc tịch</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="CountryId" value="@Model.CountryId"/>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row padding-bottom-0">
                    <div class="col-md-4">
                        <label>Dân tộc</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="NationId" value="@Model.NationId"/>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row padding-bottom-0">
                    <div class="col-md-4">
                        <label>Tôn giáo</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="ReligionId" value="@Model.ReligionId"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="row padding-bottom-0">
                    <div class="col-md-4">
                        <label>Email</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="Email" value="@Model.Email"/>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row padding-bottom-0">
                    <div class="col-md-4">
                        <label>Số CMND</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="IdentityCardNumber" value="@Model.IdentityCardNumber"/>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row padding-bottom-0">
                    <div class="col-md-4">
                        <label>Địa chỉ (*)</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="PermanentAddress" value="@Model.PermanentAddress"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label>Ghi chú</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <textarea class="form-control" style="min-height: 250px" id="Description" rows="10">@Model.Description</textarea>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default window-footer">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12 text-right">
                <button class="btn btn-primary" id="btnSave">
                    <i class="glyphicon glyphicon-floppy-saved"></i>
                    Lưu
                </button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var applicantId = '@Model.ApplicantId';
</script>
<script src="~/Areas/Hrm/JsAction/Applicant/addOrEdit.js"></script>






