@using Entity.Hrm
@model Dictionary<int,List<Holiday>>
@{
    ViewBag.Title = "Ngày Nghỉ Trong Năm";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var year = (int) ViewBag.Year;
}
<div class="panel panel-default">
    <div class="panel-heading">@ViewBag.Title &nbsp;<i class="glyphicon glyphicon-question-sign" title="Giữ phím Ctrl sau đó click vào ngày để chọn hoặc bỏ chọn!"></i></div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="box-action">
                    <div class="row padding-bottom-0">
                        <div class="col-md-3">
                            <input type="text" value="@year" id="years"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            @for (int i = 1; i <= 12; i++)
            {
                string id = "month" + i;
                <div class="col-md-3" style="margin-bottom: 10px;">
                    <div id="@id"></div>
                </div>
            }
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12 text-right">
                <button class="btn btn-primary" id="btnSave">
                    <i class="glyphicon glyphicon-ok"></i> 
                    Lưu
                </button>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        var years = @Html.Raw(Json.Encode(ViewBag.Years));
        var year = @year;
        $(document).ready(function () {
            $('#years').kendoDropDownList({
                dataTextField:'text',
                dataValueField:'value',
                dataSource:years,
                change:function() {
                    window.location.href = "?year=" + this.value();
                }
            });
            @for (var i = 1; i <= 12; i++) {
                <text>
                    var data = [];
                @foreach (Holiday holiday in Model[i])
                {<text>
                    data.push(new Date('@holiday.HolidayDate.ToString("s")'));
            </text>
                }
                    var month = '@i';
                    $("#month"+month).kendoCalendar({
                        selectable: "multiple",
                        weekNumber: false,
                        footer: false,
                        depth: "year"
                    });
                    $("#month"+month).data('kendoCalendar').navigate(new Date(year, @(i - 1), 1), "month");
            $("#month"+month).data('kendoCalendar').selectDates(data);


                </text>
            }
            var cancellables = $(".k-nav-fast,.k-other-month,.k-nav-next,.k-nav-prev");
            cancellables.unbind();
            cancellables.click(function (e) {
                e.preventDefault();
                e.stopPropagation();
            });
            $('#btnSave').click(function() {
                var holidays = [];
                for (var i = 1; i <= 12; i++) {
                    holidays = holidays.concat($("#month" + i).data('kendoCalendar').selectDates());
                }
                $('#processing').show();
                $.ajax({
                    type:'POST',
                    url:'/hrm/Holiday/Save',
                    data:JSON.stringify({models:holidays,year:year}),
                    contentType:'application/json;charset=utf-8',
                    success:function(response) {
                        $('#processing').hide();
                        if (response.Status === 0) {
                            $.msgBox({
                                title: "Hệ thống",
                                type: "error",
                                content: response.Message,
                                buttons: [{ value: "Đồng ý" }]
                            });
                        } else {
                            $.msgBox({
                                title: "Hệ thống",
                                type: "info",
                                content: response.Message,
                                buttons: [{ value: "Đồng ý" }]
                            });
                        }
                    }
                });
            });
        });
    </script>
}

