@model Entity.Kpi.WorkStreamDetail
<style>
    .k-checkbox-label:before {
        top: 5px;
    }
</style>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="row padding-bottom-0">
                    <div class="col-md-4">
                        <label>Tên Công việc(*)</label>
                    </div>
                    <div class="col-md-8">
                        <input type="hidden" value="@Model.Status" class="form-control" id="Status" />
                        <input type="hidden" value="@Model.WorkStreamId" id="WorkStreamId"/>
                        <input type="hidden" value="@Model.TaskName" id="TaskNameModel"/>
                        <input type="hidden" value="@Model.TaskCode" id="TaskCodeModel"/>
                        <input type="hidden" value="@Model.TaskId" id="TaskId2" />
                        <input type="text" class="form-control" value="@Model.TaskName" readonly="readonly" id="TaskName2" placeholder="Mã công việc, tên công việc...."/>
                        <button class="btn btn-primary btn-xs" id="ModalTaskDetail" style="position: absolute; top: 1.0px; right: 15px; height: 20px;">
                            <i class="glyphicon glyphicon-search"></i>
                            Tìm Kiếm
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row padding-bottom-0">
                    <div class="col-md-4">
                        <label>Ngày bắt đầu (*)</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" value="@Model.FromDate.ToString("dd/MM/yyyy")" class="form-control" id="FromDate2" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row padding-bottom-0">
                    <div class="col-md-4">
                        <label>Ngày hoàn thành (*)</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" value="@Model.ToDate.ToString("dd/MM/yyyy")" class="form-control" id="ToDate2" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="row padding-bottom-0">
                    <div class="col-md-4">
                        <label>Mô tả công việc</label>
                    </div>
                    <div class="col-md-8">
                        <textarea class="form-control" rows="2" id="Description2" style="min-height: 56px">@Model.Description</textarea>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row padding-bottom-0">
                    <div class="col-md-4">
                        <label>Số lượng (*)</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" value="@Model.Quantity" class="form-control" id="Quantity" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default window-footer">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12 ">
                <button class="btn btn-primary" id="btnSaveAdd" style="float: right">
                    <i class="glyphicon glyphicon-floppy-saved"></i>
                    Lưu
                </button>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var createby = '@Model.CreateBy';
    var createdate = '@Model.CreateDate';
    var workStreamDetailId = '@Model.WorkStreamDetailId';
    var isDefault = '@Model.IsDefault';
</script>
<script src="~/Areas/Hrm/JsAction/Kpi/WorkStream/workStreamDetail.js"></script>



